
#item
	{
	font-size:		32px;
	}
  
  /* 	
	color: 			#FFFFFF;
	background: 	#325671;
	clear:			both;
	float:			right;
	width:			577px;	
  text-align:		center;  
	margin-bottom:	5px;
  */

#detail
	{
	font-size:		26px;
	background: 	#FFFF00;
	}

